html{
    box-sizing: border-box;
}

:root{
    --primary-text-color:  #757575;
    --title-text-color:#212121;
    --accent-color:#2196f3;
    --primary-bg-color:#ffffff;
    --secondary-bg-color:#2F303A;
}

body {
    color:var(--title-text-color);
    background: var(--primary-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7;
    
}   
.container {

    margin-left:auto;
    margin-right: auto;
    width: 1200 px;
    padding-left: 15px;
    padding-right: 15px;
}
.container-main{
    display: flex;
    align-items: center;
    
}
.logo {
   
   color: var(--title-text-color);
   font-family: raleway, sans-serif;
   text-decoration: none;
   font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   
}
.logo-accent {
    color: var(--accent-color);
    font-family: raleway, sans-serif;
}
/*Page Header*/

.container-main-nav{
    display: flex;
    align-items: center;
}


/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* белый цвет  #ffffff */

/* акцент #2196F3 */


/* Site-nav*/
.site-nav {
    list-style: none;
    display: flex;
    margin-left: 40px ;
}
.site-nav-item {
    display: flex;
    margin-right: 16px; 
}
.site-nav-item +.item{
    margin-left: 50px;
}
.site-nav-link{
color: var(--title-text-color);
letter-spacing: 0.02em;
font-weight: 500;
line-height: 1.14;
text-decoration: none;
}
.site-nav-link:hover,
.site-nav-lin:focus {
    color: var(--accent-color);
}
.site-nav-link-current{
color: var(--accent-color);
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
}

/* Contact-nav*/
    .contact-nav{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}
.contact-nav-title {
    
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-nav-title:hover,
.contact-nav-title:focus{
    color: var(--accent-color);
}
/*Hero*/
.hero{

    margin-top: 0;
    background-color:var(--secondary-bg-color);
    padding-top: 200px;
    padding-bottom: 280px;
}
.hero-title{
   
    color: var(--primary-bg-color);
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
}
    .hero-button {
    color: var(--primary-bg-color);
    text-indent: inherit;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height:  1.9;
    display: flex;
    text-align: center;
    align-items: center;
   }
    .hero-button-main {
        color: var(--primary-bg-color);
        background-color: var(--accent-color);
        border: 1px solid transparent;
        align-items: center;
        cursor: pointer;
    }
    .hero-button-main:hover,
    .hero-button-main:focus{
    color:var(--primary-bg-color) ;
    background-color: #188ce8; 
    } 

/* Section*/
    .section-title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
 }
    .pictures{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    }
    .pictures-item{
    margin-left: 30px;
    width: 370px; 
    
}
    .pictures-item:(:last-child){
    margin-left: 0px;
 }
 /*Features */
 .features{

    list-style: none;
    margin-top: 0;
    display: flex;
     
 }
 .features-item{
   
     margin-left: 30px;
 } 
 .features-item:(:last-child){
    margin-left: 0;
 }
 .features-title{
     
     margin-bottom: 10px;
     color: var(--title-text-color);
     font-weight: 700;
     line-height: 1.14;

 }
.features-description {
    margin-top: 0;
    color: var(--primary-text-color);
    line-height: 1.7;

}


/* Comands*/
.comands{
    background-color: #F5F4FA;
}

.comands-title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color) ; 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.comands-item{
    list-style: none;
}
.comands-title-top{
    margin-top: 0;
      
}

.comands-title-workers{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
}
.comands-title-proffesion{
    color: var(--primary-text-color );
    font-size: 16px;
    line-height: 1.2;
}

/* Footer*/

.information{
    font-family: Roboto, sans-serif;
    background-color: var(--secondary-bg-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.information-logo{
    color: var(--primary-bg-color);
    font-family: raleway, sans-serif;
    line-height: 1.19;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.information-addres{
    font-style: normal;
    color: var(--primary-bg-color);
    line-height: 1.7;
    list-style: none;
}

 .information-addres-street{
     color: var(--primary-bg-color);
    
 }

.information-addres-list{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.2;
    text-decoration: none;

}
.information-addres-list:hover,
.information-addres-list:focus{
    color: var(--accent-color);
}

/* Portfolio*/

.filter{
    margin-top: 0;
    margin-bottom: ;
    font-family: inherit;
    list-style: none;
    display: flex;
     
}
.filter-item{
color: var(--title-text-color);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
cursor: pointer;
}
.filter-button{
    color: var(--title-text-color);
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.filter-button-main{
    color: var(--title-text-color);
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
}
.filter-button-main:hover,
.filter-button-main:focus{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.gallery{
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
     
}
.gallery-item{
    width: 370 px;
    margin: 15px;
}

.gallery-link{
    text-decoration: none;
}
.gallery-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.gallery-text{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    
}

